* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.pagina {
    width: 80%;
    margin: 20px auto;
    border: 3px solid black;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: teal;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 15px;

    color: white;
}

header h1 {
    font-size: 28px;
}

header p {
    font-size: 14px;
}

main {
    display: grid;

    grid-template-columns: 3fr 1fr;
}

.conteudo {
    background-color: orangered;

    padding: 10px;

    display: flex;
    flex-direction: column;

    gap: 8px;
}

.cartao {
    background-color: coral;

    border: 2px solid firebrick;

    padding: 30px 12px;

    color: white;
}

.cartao h2 {
    margin-bottom: 15px;

    font-size: 20px;
}

.cartao p {
    font-size: 14px;
}

.cartao ul {
    padding-left: 20px;
    font-size: 14px;
}

aside {
    background-color: limegreen;

    color: white;
    padding: 25px 10px;
}

aside h2 {
    font-size: 21px;
    margin-bottom: 15px;
}

aside p {
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
