* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: grid;
}

header{
    background-color: blue;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
 section {
    background-color: orangered;
    padding: 1fr;
}

article {
    background-color: coral;
    border: 2px solid firebrick;
    padding: 1fr;
    color: white;

    display: grid;
    align-content: center;
}

aside {
    background-color: limegreen;
    color: white;
    padding: 2fr;

    display: grid;
    align-content: start;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1fr;
}
